spring:
  application:
    name: connectionFamily
  datasource:
    url: ${MYSQL_URL}
    username: ${MYSQL_USER}
    password: ${MYSQL_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
        show_sql: true

  security:
    oauth2:
          client:
            registration:
              kakao:
                client-id: ${KAKAO_CLIENT_ID}
                client-secret: ${KAKAO_CLIENT_SECRET}
                client-authentication-method: client_secret_post
                authorization-grant-type: authorization_code
                redirect-uri: http://34.158.222.233:8080/login/oauth2/code/kakao
                scope: [account_email, profile_nickname]
                client-name: Kakao
            provider:
              kakao:
                authorization-uri: https://kauth.kakao.com/oauth/authorize
                token-uri: https://kauth.kakao.com/oauth/token
                user-info-uri: https://kapi.kakao.com/v2/user/me
                user-name-attribute: id

server:
  port: 8080

jwt:
  secret: ${JWT_SECRET}
  access-token-validity-seconds: 3600
  refresh-token-validity-seconds: 1209600

groq:
  base-url: https://api.groq.com/openai/v1
  api-key: ${GROQ_API_KEY}
  model: llama-3.3-70b-versatile
